*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    background: linear-gradient(90deg, #30C5FF, #3056ff);
    height: 600vh;
    scroll-behavior: smooth;
}
:root{
    --content-width: 1280px;
    --page-gutter: 20px;
    --dark: #303633;
    --blue: #30C5FF;
    --light: #F5F0F6;
}
nav{
    padding: 5px 0;
    display: grid;
    place-items: center;
    transition: backdrop-filter 0.5s ease,
        box-shadow 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    padding-inline: var(--page-gutter);
}
nav.active{
    backdrop-filter: brightness(0.9) blur(20px);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
nav > div{
    display: flex;
    place-items: center;
    justify-content: space-between;
    max-width: var(--content-width);
    width: 100%;
    flex-flow: row nowrap;
}
.logo-wrapper{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    text-decoration: none;
    color: var(--dark);
    gap: 10px;
    width: 210px;
}
.logo-wrapper p{
    position: relative;
    font-size: 1.2rem;
    font-weight:700;
    display: flex;
    align-items: center;
    left: -20px;
    opacity: 0;
}
.logo-wrapper:hover p{
    transition: 1s ease;
    left: 0;
    opacity: 1;
}


nav .url-wrapper{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.url-wrapper > a{
    text-decoration: none;
    color: var(--dark);
}
.url-wrapper > a:hover{
    text-decoration: underline;
}
nav .misc-wrapper{
    width: 210px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}
.misc-wrapper a{
    text-decoration: none;
    color:var(--dark);
    padding: 5px 20px;
    background-color: var(--light);
    border: none;
    border-radius: 20px;
}
.misc-wrapper a:hover{
    filter: brightness(0.9);
}
.misc-wrapper button{
    width: 40px;
    padding: 0;
    display: grid;
    place-items: center;
    border: none;
    background: none;
    color: var(--dark);
    cursor: pointer;
    outline: none;
}
.misc-wrapper button:hover{
    color: var(--light);
}

.hide-on-desktop{
    display: none !important;
}

@media (max-width: 800px){
    .hide-on-desktop{
        display: initial !important;
    }
    .hide-on-mobile:not(.url-wrapper){
        display: none !important;
    }
    .url-wrapper{
        flex-flow: column nowrap !important;
        border-top-left-radius: 20px;
        padding: 0 20px;
    }
    .url-wrapper.hide-on-mobile{
        position: absolute;
        right: 0;
        top:0;
        background: var(--light);
        height: 100vh;
        width: 280px;
    }
    .url-wrapper span{
        display: flex !important;
        flex-flow: row nowrap !important;
    }
    .url-wrapper span button{
        display: grid;
        place-items: center;
        width:40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
}